<% tweets.each do |tweet| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= tweet.user.email %></h5>
      <label class="text-secondary"><small><%= tweet.created_at %></small></label>
      <hr />
      <p class="card-text"><%= tweet.content %></p>
    </div>
  </div>
<% end %>
<% if tweets.empty? %>
  <div class="h4 text-center">
    So quiet here ฅ(Φ ω Φ)ฅ, tweet someting.
  </div>
<% end %>
