<h4>Top 10 popular tags</h4>
<% if @hash_tags.empty? %>
  There aren't any hashtags currently
<% else %>
  <% @hash_tags.each do |hash_tag| %>
    <%= link_to hash_tag.name, hash_tags_show_path(hash_tag.name) %>
    <span class="text-secondary"><%= hash_tag.tag_count %></span>
    <br />
  <% end %>
<% end %>
