<div class="row">
  <div class="col">
    <h1>Life Simulator</h1>
    <div class="card mt-3">
      <div class="card-body text-center">
        <div id="life-simulator">
          <div id="game-title"></div>
          <hr>
          <div id="game-content"></div>
          <div id="game-results"></div>
          <div id="game-button" class="text-center">
            <button id="btn1" class="btn btn-primary mx-1"></button>
            <button id="btn2" class="btn btn-primary mx-1"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
