<p class="card-text">
  <%
    tweet.hash_tags.each do |hash_tag|
      tweet.content.gsub!(hash_tag, "#{link_to hash_tag, hash_tag_path(hash_tag)}")
    end
  %>
  <%= tweet.content.html_safe %>
</p>
